@page "/game"
<h3>Game</h3>
<td><button @onclick="@(() => ChangeCard())"><i class="oi oi-pencil"></i></button></td>
@*<svg width="100" height="100">
        <circle cx="50" cy="50" r="@Rayon" stroke="green" stroke-width="4" fill="yellow" />
    </svg>

    <div class="slidecontainer">
        <input type="range" min="1" max="100" @bind="@Rayon" class="slider" id="myRange">
    </div>

    <svg height="100%" width="100%" viewBox="0,0,1000,1000">
        <use class="card" href="@CardId" x="-25" y="250"></use>
    </svg>*@

<svg height="1000" width="1000">
    @foreach (var gc in GameComponents)
    {
        <SvgComponent GameComponent="@gc" />
    }
</svg>


@code {


    public int Rayon { get; set; }

    public string CardId { get; set; }

    public List<GameComponent> GameComponents { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameComponents = new List<GameComponent>();

        await Task.Run(() =>
        {
            Rayon = 10;
            CardId = $"svg/svg-cards.svg#3_club";

            GameComponents.AddRange(new List<GameComponent>()
            {
                new Rectangle()
                {
                    Id = Guid.NewGuid(),
                    Height = 200,
                    Width = 100,
                    X=500,
                    Y=350,
                    Fill="green"
                },
                new Rectangle()
                {
                    Id = Guid.NewGuid(),
                    Height = 200,
                    Width = 100,
                    X=350,
                    Y=110,
                    Fill="red"
                },
                new Circle()
                {
                    Id = Guid.NewGuid(),
                    R = 200,
                    Cx=125,
                    Cy=125,
                    Fill="yellow"
                },
                new Circle()
                {
                    Id = Guid.NewGuid(),
                    R = 50,
                    Cx=145,
                    Cy=145,
                    Fill="blue"
                },
            });

        //StateHasChanged();
        });
    }


    //OnAfterRenderAsync

    public void ChangeCard()
    {
        CardId = $"svg/svg-cards.svg#queen_heart";
        StateHasChanged();
    }

}
